# General Settings
# x86/amd64
# MATTERMOST_IMAGE=mattermost/mattermost-team-edition:v11.4.1
# ARM
MATTERMOST_IMAGE=ngrie/mattermost-team-edition-arm:latest
MATTERMOST_SERVER_HOSTNAME=chat.example.com
TZ=Europe/Istanbul

# DATABASE
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=mattermost
DATABASE_USER=mattermost
DATABASE_PASSWORD=
