services:
  mattermost:
    image: ${MATTERMOST_IMAGE:?required}
    container_name: mattermost
    restart: unless-stopped
    env_file: .env
    environment:
      MM_SQLSETTINGS_DRIVERNAME: postgres
      MM_SQLSETTINGS_DATASOURCE: "postgres://${DATABASE_USER:-mattermost}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT:-5432}/${DATABASE_NAME:-mattermost}?sslmode=disable&connect_timeout=10"
      MM_SERVICESETTINGS_SITEURL: https://${MATTERMOST_SERVER_HOSTNAME:?required}

      # SMTP
      MM_EMAILSETTINGS_SMTPSERVER: ${SMTP_HOST}
      MM_EMAILSETTINGS_SMTPPORT: ${SMTP_PORT:-587}
      MM_EMAILSETTINGS_SMTPUSERNAME: ${SMTP_USERNAME}
      MM_EMAILSETTINGS_SMTPPASSWORD: ${SMTP_PASSWORD}
      MM_EMAILSETTINGS_CONNECTIONSECURITY: STARTTLS
      MM_EMAILSETTINGS_SKIPSERVERCERTIFICATEVERIFICATION: false

      MM_EMAILSETTINGS_FEEDBACKNAME: ${EMAIL_FROM_NAME}
      MM_EMAILSETTINGS_FEEDBACKEMAIL: ${EMAIL_FROM}
      MM_EMAILSETTINGS_REPLYTOADDRESS: ${EMAIL_FROM}
    volumes:
      - ./.docker/mattermost/data:/mattermost/data
      - ./.docker/mattermost/logs:/mattermost/logs
      - ./.docker/mattermost/config:/mattermost/config
      - ./.docker/mattermost/plugins:/mattermost/plugins
    networks:
      - traefik-network
      - postgres-network
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      # Routers
      - traefik.http.routers.mattermost.rule=Host(`${MATTERMOST_SERVER_HOSTNAME:?required}`)
      - traefik.http.routers.mattermost.entrypoints=websecure
      - traefik.http.routers.mattermost.tls.certresolver=le-cloudflare
      - traefik.http.routers.mattermost.service=mattermost

      # Admin Console Router - restricted by IP
      - traefik.http.routers.mattermost-admin.rule=Host(`${MATTERMOST_SERVER_HOSTNAME:?required}`) && PathPrefix(`/admin_console`)
      - traefik.http.routers.mattermost-admin.entrypoints=websecure
      - traefik.http.routers.mattermost-admin.tls.certresolver=le-cloudflare
      - traefik.http.routers.mattermost-admin.middlewares=trusted@file
      - traefik.http.routers.mattermost-admin.service=mattermost

      # Services
      - traefik.http.services.mattermost.loadbalancer.server.port=8065
      - traefik.http.services.mattermost.loadbalancer.responseforwarding.flushinterval=100ms
    healthcheck:
      test: ["CMD", "/mattermost/bin/mmctl", "--local", "system", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s


networks:
  traefik-network:
    external: true
  postgres-network:
    external: true
